version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: currencies
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend/currency-frontend
    ports:
      - "4200:80"
